<a href="@Url.Action("Minimal","Home")" class="btn btn-light">Minimal</a>
<a href="@Url.Action("PageNumbersOnly","Home")" class="btn btn-light">PageNumbersOnly</a>
<a href="@Url.Action("Classic","Home")" class="btn btn-light">Classic</a>
<a href="@Url.Action("Default","Home")" class="btn btn-light">Default</a>
<a href="@Url.Action("Index","Home")" class="btn btn-light">ClassicPlusFirstAndLast</a>
<a asp-action="Custom" asp-controller="Home" asp-route-name="Unknow" class="btn btn-light">Custom</a>
