@using Microsoft.AspNetCore.Mvc.TagHelpers
@using X.PagedList
@using X.Web.PagedList
@using X.Web.PagedList.Bootstrap4.Core
@model IEnumerable<X.Web.PagedList.Bootstrap4.SampleData.SampleModel>
@{
}

<h2>Custom - IfNeeded</h2>

<hr />

<partial name="_LinkPartial"/>

<hr />

<div class="">
    <form class="d-inline" asp-action="Custom" asp-controller="Home" method="get">
        Query name: <input type="text" value="@Context.Request.Query["name"]" name="name" style="display: inline; max-width: 280px;" class="form-control" />
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Custom", new { page, name = Context.Request.Query["name"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }.ApplyBootstrap4Style())

<table class="table table-hover table-striped">
    <tr>
        <th>OrderId</th>
        <th>Name</th>
        <th>ContactTimes</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OrderId</td>
            <td>@item.Name</td>
            <td>@item.ContactTimes</td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Custom", new { page, name = Context.Request.Query["name"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }.ApplyBootstrap4Style())