@model IEnumerable<X.PagedList.Mvc.Bootstrap4.SampleData.SampleModel>
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4
@{
}

<h2>Classic</h2>

<hr />

@Html.Partial("_LinkPartial")

<hr />

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Classic", new { page }), Bootstrap4PagedListRenderOptions.Classic)

<table class="table table-hover table-striped">
    <tr>
        <th>OrderId</th>
        <th>Name</th>
        <th>ContactTimes</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OrderId</td>
            <td>@item.Name</td>
            <td>@item.ContactTimes</td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Classic", new { page }), Bootstrap4PagedListRenderOptions.Classic)